<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.gambler.personal.mapper.UserChildMapper">

    <resultMap id="userChild" type="com.game.gambler.personal.entity.UserChild">
        <id column="UN_ID" jdbcType="BIGINT" property="unId"/>
        <result column="ACCOUNT_NAME" jdbcType="VARCHAR" property="accountName"/>
        <result column="PWD" jdbcType="VARCHAR" property="password"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="REMARKER" jdbcType="VARCHAR" property="remarker"/>
        <result column="versions" jdbcType="INTEGER" property="versions"/>
    </resultMap>

    <insert id="insert">
        insert into t_sub_account
        set
            ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR},
            PWD = MD5(concat(#{accountName,jdbcType=VARCHAR} , #{password,jdbcType=VARCHAR})),
             <if test="status != null"> STATUS =#{status,jdbcType=VARCHAR},</if>
            REMARKER = #{remarker,jdbcType=VARCHAR}
    </insert>

    <select id="selectByAccount" resultMap="userChild">
        select * from t_sub_account
        <where>
            ACCOUNT_NAME = #{accout,jdbcType=VARCHAR}
            <if test="pwd !=null">and PWD = MD5(concat(#{accout,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}))</if>
        </where>
    </select>

    <select id="selectAllChild" resultMap="userChild">
        select * from t_sub_account  order by UN_ID desc
    </select>

    <delete id="delete">
        delete from t_sub_account where UN_ID = #{unId,jdbcType=BIGINT}
    </delete>

    <update id="clearApportion">
        update t_game_license set status = '可使用',owner = null
        where owner = #{account,jdbcType=VARCHAR} and status = '已分配'
    </update>

    <select id="selectDictionary" resultType="string">
        select  value_a from t_dictionary
        where UN_ID = 3
    </select>

    <select id="selectById" resultMap="userChild">
        select  * from t_sub_account where UN_ID = #{un_id,jdbcType=BIGINT}
    </select>


    <update id="upChildInfo">
        update t_sub_account
        set
        <if test="status != null">STATUS =#{status,jdbcType=VARCHAR},</if>
        <if test="password !=null"> PWD = MD5(concat(#{accountName,jdbcType=VARCHAR} ,#{password,jdbcType=VARCHAR})),</if>
        REMARKER = #{remarker,jdbcType=VARCHAR},
        version = version + 1
        where UN_ID = #{unId,jdbcType=BIGINT}
    </update>

</mapper>